<h2>Update movie</h2>

<form action='/movies/{{movieToEdit._id}}/edit' method='post'>

<label for='title' class='label'>Title: </label>
<input id='title' name='title' type='text' value='{{movieToEdit.title}}'/>

<label for='genre' class='label'>Genre: </label>
<input id='genre' name='genre' type='text' value='{{movieToEdit.genre}}'/>

<label for='plot' class='label'>Plot: </label>
<input id='plot' name='plot' type='text' value='{{movieToEdit.plot}}'/>


<label for='cast'>Select cast: </label>
<select id='cast' name='cast' class='input' multiple>
    {{#each celebrities}}
        <option value='{{this._id}}'>{{this.name}}</option>
    {{/each}}
</select>


<button>Update movie!</button>
</form>